body{
	background-color: orange;
	margin-top: 20px;
	font-family: 'Pacifico', cursive;
}

.headline {
	font-family: 'Shrikhand', cursive;
}

.ate {
	text-decoration: line-through;
}

img{
	width: 400px;
	height: auto;
}
